.job-parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.job-form-parent {
  background-color: rgb(248, 252, 252);
  padding: 30px;
  border-radius: 5px;
  border: rgb(110, 198, 252) solid 4px;
  height: 65vh;
  width: 35%;
}

.job-sign-in {
  color: rgb(110, 198, 252);
  padding-right: 68%;
  padding-bottom: 2%;
  text-decoration: underline;
}

.job-labels {
  padding-right: 15%;
}

.job-form-boxes {
  border-radius: 0px;
  border-bottom-style: solid;
  border-color: rgb(110, 198, 252);
  border-width: 2px;
  background-color: rgb(248, 252, 252);
}

.job-form-button {
  color: rgb(248, 252, 252);
  border-radius: 2px;
  border: rgb(110, 198, 252) solid 2px;
  background-color: rgb(110, 198, 252);
  padding-left: 8%;
  padding-right: 8%;
  margin: 3px;
}

.job-form-cancel-button {
  color: rgb(248, 252, 252);
  border-radius: 2px;
  border: rgb(252, 110, 134) solid 2px;
  background-color: rgb(252, 110, 134);
  padding-left: 8%;
  padding-right: 8%;
  margin: 3px;
}

.job-form-cancel-button:hover {
  color: rgb(248, 252, 252);
  border-radius: 2px;
  border: rgb(243, 40, 74) solid 2px;
  background-color: rgb(243, 40, 74);
  padding-left: 8%;
  padding-right: 8%;
  margin: 3px;
}
